<ul class="list-group">
  <li class="list-group-item">
        <center>
         <h4> Replies: </h4>
        </center>
    </li>
  <% @replies.each do |reply| %>
    <li class="list-group-item">
        <b><%= reply.sender.name %></b><br />
        <strong>"</strong><%= reply.body %>"<br />
    </li>
  <% end %>
</ul>