<!-- Main Splash Container -->
<div class="splash-panel-1">
	<!-- Search Box -->
	<div class="home-search">
		<h2 class="splash-text"> Find some gear:</h2>
		<%= form_tag listings_path, :method => 'get', :class => 'form-inline' do %>  
		  <div class="search-container well">  
		  	<div class="form-group">
		   	  <%= text_field_tag :zipcode, params[:zipcode], :class => 'form-control', :placeholder => 'Zipcode' %>  
		   	</div>
		   	<div class="form-group">
		   	  <%= select_tag :category, options_for_select(Listing.categories.map {|value| [value, value] }), :class => 'form-control' %>
		   	</div>
		   	<div class="form-group">
		    	<%= submit_tag "SEARCH", :name => nil, :class => 'btn btn-scenius form-control' %>  
		    </div>
		  </div>  
		<% end %>
	</div>
	<!-- Bottom text container -->
	<div class="splash-panel-3 hidden-xs">
		Peer-to-peer instrument rentals for musicians.
	</div>
</div>
<!-- Site Footer -->
<footer class="footer">
   <p>Built by <a href="https://github.com/nhayflick/">Nathan Hayflick.</a></p>
</footer>