// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.splash-panel-1 {
	width: 100%;
	height: 100%;
	position: relative;
	margin-top: -200px;
	background-size: cover;
	min-height: 600px;
	max-height: 800px;
	background-image: url("https://s3.amazonaws.com/stageHand-assets/static_images/marketing_page/sceniusmarketingsplash.jpg");
	background-size: cover;
}

.splash-panel-2 {
	font-family: 'Ubuntu', sans-serif;
	position: absolute;
	top: 0;
	width: 100%;
	background-color: rgb(240, 250, 244);
	left: 0px;
	color: rgb(40, 197, 97);
	text-align: left;
}

.splash-panel-3 {
	width: 100%;
	left: 0;
	position: absolute;
	font-family: 'Ubuntu', sans-serif;
	bottom: 0;
	color: #2C2C2C;
	padding: 20px 0;
	font-size: 30px;
	line-height: 40px;
	background-color: rgba(229, 228, 228, 0.83);
	text-align: center;
}

.splash-text {
		color: #FDFDFD;
		text-shadow: 2px 2px #000000;
		font-family: 'Ubuntu', sans-serif;
		font-size: 40px;
}

// Push alerts above splash container
.alert {
	z-index: 1;
	position: relative;
	margin: 0 40px ;
}

